body {
  background-color: #131313;
}

h1 {
  color: #ffffff;
}

body {
  color: #ffffff;
}

body{
	font-family: system-ui;
}

hr{
    height: 1px;
    background-color: #D33737;
    border: none;
    }
